html, body {
    height: 100%;
}

div {
    margin: 10px;
    border: 1px solid brown;
}

#kulso {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kerdes_szoveg {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

#kozepso {
    display: flex;
    flex-direction: row;
    flex-grow: 1
}

#kep {
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
   }

#valaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezerlo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gomb {
    padding: 20px;
    width: 80px;
    cursor: pointer
}

    .gomb:hover {
        background-color: forestgreen;
        color: white;
    }

.kattinthato:hover {
    background-color: forestgreen;
    color: white;
    cursor: pointer;
}

#valasz1:hover, #valasz2:hover, #valasz3:hover {
    background-color: forestgreen;
    color: white;
    cursor: pointer;
}

.kerdes {
    padding: 10px;
    border-radius: 10px;
}

.jó {
    background-color: darkblue;
    color: white;
}

.rossz {
    background-color: red;
    color: white;
}
